body {
    background-color: rgb(33, 113, 139);
    padding: 30px;
    height: auto;
  }
  
  h1 {
    color: rgb(97, 18, 18);
    text-align: center;
  }

  h3 {
    color: rgb(32, 97, 18);
    text-align: center;
  }

  h4 {
    color: rgb(38, 18, 152);
    text-align: center;
  }
